:root {
    --palette-electric-violet: #9013fe;
    --palette-blue-gem: #460db2;
    --palette-fog: #d8c4ff;
    --palette-heliotrope: #b289ff;
    --main-scroll-overflow-height: 20px;
    --button-height: 40px;
    --navbar-height: calc(5vh + 2px + var(--button-height));
    --text-grey: #a9a9a9;
}

:root.light {
    --background-primary: #ffffff;
    --background-secondary: #dfdfdf;
    --background-secondary-transparent: #dfdfdfe5;
    --text-primary: #1a1a1a;
    --text-secondary: #ffffff;
}

:root.dark {
    --background-primary: #2d2e2f;
    --background-secondary: #202122;
    --background-secondary-transparent: #202122e5;
    --text-primary: #ffffff;
    --text-secondary: #1a1a1a;
}

@font-face {
    font-family: Allerta;
    src: url("@/assets/fonts/AllertaStencil-Regular.woff") format("woff"),
    url("@/assets/fonts/AllertaStencil-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    font-size: .75em;
    width: calc(100vw - 6px);
    height: 100vh;
}

body,
.scrolled {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.scrolled::-webkit-scrollbar {
    width: 7px;
    height: 100%;
    background: var(--background-primary);
}

body::-webkit-scrollbar-thumb,
.scrolled::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--palette-heliotrope);
}

body::-webkit-scrollbar-thumb:hover,
.scrolled::-webkit-scrollbar-thumb:hover {
    background: var(--palette-electric-violet);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
    background: white;
}

.total-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
